.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

// обертка для стилей повторяющегося контента
.rep-content {

  h1 {

  }

  h2 {

  }

  p {

  }

  a {

  }

}
