// fonts
$ff-title: "Helvetica", sans-serif;
$ff-main: "Arial", sans-serif;

$fsz-main: 12px;
$fsz-h1: 28px;
$fsz-h2: 22px;

// colors
$c-main: #474c58;

$c-title-dark: #274479;
$c-title-light: #2e5eb6;

$c-link-dark: #0a4c9d;

// screen size
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 400px;
