.footer {
  padding-top: 10px;
  background: #3874ac;
  background: linear-gradient(to bottom,  #3874ac,#384d87);
  color: #fff;

  &__top {
    margin-bottom: 10px;
  }

  .main-nav {
    flex-wrap: wrap;
    justify-content: center;

    &__item:not(:last-child) {

      &::after {
        background-color: #284171;
      }
    }
  }

  .main-nav__link {
    white-space: nowrap;
    padding: 8px 13px;
    font-size: 11px;

    &:hover {
      background-color: transparent;
    }
  }

  &__text {
    font-size: 11px;
    text-align: center;
  }

  &__rights {
    font-size: 11px;
    // background-color: rgb(175, 175, 175);
  }

  &__rights-wrap {
    padding: 10px 25px;
    display: flex;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -200px;
      width: 700px;
      height: 100%;
      background: linear-gradient(to right, transparent 0,  #4779cf 50%, transparent 100%);
    }
  }

  &__rights-text {
    z-index: 1;
  }
}
