.feedback {

  &__list {

  }

  &__item {
    padding: 10px 0;
    font-style: italic;

    &:not(:first-child) {
      border-top: 1px solid $c-hr-lite-grey;
    }
  }

  &__title {
    font-size: 12px;
    margin-bottom: 7px;
  }

  &__text {
    margin: 0;
  }
}
