.resetpass {

  &__header {
    margin-bottom: 10px;
  }

  &__form {
    padding: 10px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $sm) {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
    }
  }

  &__form-item {
    margin: 0 20px 0 0;
    flex-shrink: 1;
    max-width: 360px;
    width: 100%;
    
    @media (max-width: $sm) {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__wrap-btn {

  }

  &__btn {
    padding: 7px 15px;
    white-space: nowrap;
  }

  &__bottom-text {
    line-height: 1.3;
  }
}
