.slider-v2 {
  position: relative;

  &__list {
    padding: 0 19px;
  }

  &__item {
    margin: 0 1px;
    overflow: hidden;
    border-radius: 5px;
  }

  &__btn {
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 100%;
    position: absolute;
    top: 0;

    &.__prev {
      background-image: url(/design/images/prev.png);
      left: 0;
    }

    &.__next {
      background-image: url(/design/images/next.png);
      right: 0;
    }
  }
}
