.header {
  width: 100%;
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3874ac+0,384d87+100 */
  background: #3874ac;
  background: linear-gradient(to bottom, #3874ac, #384d87);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding-top: 15px;
  flex-shrink: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 800px;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    background: radial-gradient(ellipse at center top, rgba(213, 236, 252, 0.2) 0%, rgba(213, 236, 252, 0) 70%);
    z-index: -1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin-bottom: 5px;

    @media (max-width: 870px) {
      justify-content: flex-start;
    }
  }

  &__logo {
    width: 249px;
    margin-left: 5px;

    @media (max-width: $sm) {
      width: 185px;
    }
  }

  &__search {
    position: relative;
    left: -60px;

    @media (max-width: 870px) {
      margin-right: 15px;
      margin-left: auto;
      left: 0;
    }

    @media (max-width: $sm) {
      display: none !important;
    }
  }

  &__mcafee {
    flex-shrink: 0;
    margin-right: 10px;

    @media (max-width: 870px) {
      display: none;
    }
  }

  &__box-search-btn {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    margin-right: 15px;

    @media (max-width: $sm) {
      margin-left: auto;
    }
  }

  &__box-hamburger {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 10px;

    @media (max-width: $sm) {
      padding-bottom: 8px;
    }
  }

  &__hamburger {
    padding: 0;
    width: 30px;
    height: 23px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      margin-left: -9px;
      margin-top: -7px;
      background: url(../img/icon/hamburger.png) center center no-repeat;
      // background-size: 10;
    }
  }

  &__box-nav {

    @media (max-width: 870px) {
      display: none;
    }

  }

  &__box-nav-wrap {
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -150px;
      width: 900px;
      height: 100%;
      background-color: #2C4D85;
      background: linear-gradient(to right, transparent 0, #2c4d85 30%, #2c4d85 70%, transparent 100%);
    }
  }

  &__main-nav {
    z-index: 1;
  }

  &__user-nav {
    z-index: 1;
  }

  &__wrap-m-box {
    position: fixed;
    display: none;
    top: 79px;
    bottom: 0;
    background: linear-gradient(to bottom, #384d87, #3874ac, );
    width: 100%;
    padding: 30px 20px;
    overflow-y: auto;

    @media (max-width: $sm) {
      top: 64px;
    }
  }

  &__m-box {
    display: flex;
    justify-content: center;
  }

}

.search {
  display: flex;
  align-items: center;
  position: relative;
  top: -5px;

  &__input {
    border: 1px solid #3870ab;
    color: #1f63b1;
    border-radius: 5px;
    padding: 6px 5px 4px;
    background-color: #AFC6DE;
    box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    width: 194px;
    margin-right: 5px;
  }

  &__btn {
    width: 30px;
    height: 23px;
    padding: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      margin-left: -8px;
      margin-top: -7px;
      background: url(../img/icon/search.png) center center no-repeat;
    }
  }
}

.search__btn-mobile {
  padding: 2px 12px 4px 10px;
}

.mcafee {
  width: 95px;
}

.main-nav {
  color: #fff;
  font-family: $ff-nav;
  display: flex;

  &__item:not(:last-child) {
    position: relative;
    margin-right: 2px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 2px;
      height: 58%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.45);
    }
  }

  &__link {
    display: block;
    padding: 11px 17px 11px;
    position: relative;

    &:hover {
      transition: .3s;
      background-color: #284171;
    }
  }

  .current {
    background-color: #284171;
  }

  &__wrap-ddmenu {
    position: absolute;
    top: 45px;
    width: 100%;
    z-index: 100;
    display: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      width: 100%;
      height: 10px;
    }
  }

  &__ddmenu {}
}

.ddmenu {
  background-color: #385a93;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 30px 10px;
  color: #fff;
  display: flex;
  font-weight: 700;

  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 78px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #385a93 transparent;
  }

  &__col {
    width: calc(100% / 4);
    padding: 0 10px;
  }

  &__box {

    &:not(:first-child) {
      padding-top: 26px;
    }
  }

  &__title {
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__title-link {

    &:hover {
      text-decoration: underline;
    }
  }

  &__list {
    padding-left: 15px;
  }

  &__item {
    margin-bottom: 6px;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__view-all {
    display: block;
    padding-top: 7px;
    color: #fff;
    text-align: right;
    text-decoration: underline;
  }
}

.user-nav {
  display: flex;
  background-color: #64748f;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  &__item:not(:last-child) {
    position: relative;
    margin-right: 2px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 2px;
      height: 54%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &__link {
    display: block;
    color: #fff;
    font-family: $ff-nav;
    padding: 11px 20px 11px;
    background-color: rgba(72, 85, 105, 0);
    transition: .3s;

    &:hover {
      background-color: #485569;
    }

    &._cart {
      padding-left: 44px;
      position: relative;
    }
  }

  &__img {
    position: absolute;
    top: 11px;
    left: 20px;
  }
}


.m-nav {

  &__item {
    margin-bottom: 8px;
  }

  &__link {
    font-size: 16px;
    position: relative;
    color: #fff;

    &.current:before {
      content: "";
      position: absolute;
      top: 25%;
      right: calc(100% + 10px);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: orange;
      background: linear-gradient(to bottom, #fec11e 0%, #ee8300 100%);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 1px 1px #ffe7a5;
      text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &:first-child {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
