.aside {
  width: 260px;
  flex-shrink: 0;
  padding: 5px 10px;
  overflow: hidden;
  line-height: 16px;
  margin-left: 10px;

  @media (max-width: $md) {
    width: 100%;
  }

  &__b-block:not(:first-child) {
    border-top: 1px solid #dddddd;
  }

  &__b-block {
    
    &._bb {
      margin-bottom: 4px;
      border-bottom: 1px solid #dddddd;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
    }
  }

  &._border {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.4);
  }

  &._p_0 {
    padding: 0;
  }

  @media (max-width: $md) {
    margin-left: 0;
  }
}

.a-block {
  padding-top: 6px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;
  }

  &__title {
    margin-bottom: 7px;
    font-size: 16px;
    color: $c-title-dark;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 10px;

    @media (max-width: $md) {
      column-count: 3;
      column-gap: 20px;
    }

    @media (max-width: $sm) {
      column-count: 2;
    }

    @media (max-width: $sm) {
      column-count: 2;
    }

    @media (max-width: $xsm) {
      column-count: 1;
    }

    &._col_2 {
      column-count: 2;

      @media (max-width: $md) {
        column-count: 3;
        column-gap: 20px;
      }

      @media (max-width: $sm) {
        column-count: 2;
      }
    }
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {}

  &__box-view-all {
    text-align: right;
  }

  &__view-all {}
}

.b-block {
  padding: 9px 15px 10px;

  &__title {
    text-align: center;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 700;
    color: #484240;
    margin-bottom: 10px;

    &._blue {
      color: #2e4c84;
    }

    &._lite-blue {
      color: #226cb1;
    }

    &._ta_left {
      text-align: left;
    }
  }

  &__title-2 {
    font-size: 22px;
    color: #474c58;
    padding: 2px 15px 5px;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center;
    font-family: $ff-main;
    background: linear-gradient(to bottom, #fafafb, #fff);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.03);

    small {
      font-size: 20px;
    }
  }

  &__over-list {
    column-count: 1;

    @media (max-width: $md) {
      column-count: 2;
    }

    @media (max-width: $xsm) {
      column-count: 1;
    }
  }

  &__b-money-back {}

  &__img {}

  &__text {}

  &__b-customers {}


  &__img-cards {
    margin-bottom: 10px;

    img {
      margin: 0 auto;
    }
  }

  &__secure {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 300px;
  }

  &__secure-img {}

  &__text:last-child {
    margin-bottom: 0;
  }

  &__link {
    display: block;
    padding-top: 5px;

    &._last {
      text-align: center;
      padding-bottom: 10px;
    }
  }

  &__list {
    margin-bottom: 13px;

    &._mb_0 {
      margin-bottom: 0px;
    }
  }

  &__item {
    font-size: 12px;
    margin-bottom: 4px;    
  }

  &._orange {
    background-color: $c-orange;
  }

  &._lite-grey {
    background: linear-gradient(to bottom, #fafafb, #fff);
  }

  &._lite-blue {
    background-color: #dcecf9;
  }
}

.b-money-back {

  @media (max-width: $md) {
    display: flex;
    align-items: center;
  }

  &__img {
    float: left;

    @media (max-width: $md) {
      display: block;
      flex-shrink: 0;
    }
  }
}

.b-feedbacks {

  &__item {
    font-style: italic;
    position: relative;
    margin-bottom: 16px;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        height: 1px;
        background-color: rgb(231, 231, 231);
      }
    }

    &:last-child {
      margin-bottom: 5px;
    }

  }

  &__title,
  &__author,
  &__address {
    font-weight: 700;
  }

  &__title,
  &__text,
  &__address {
    margin-bottom: 7px;
  }

  &__text {
    text-align: justify;
  }

  &__author {
    margin-bottom: 0;
  }

  &__address {

    &._mb_0 {
      margin-bottom: 0;
    }
  }
}

.b-customers {

  &__img {
    img {
      margin: 0 auto;
    }

    @media (max-width: $md) {
      flex-shrink: 0;
    }
  }

  @media (max-width: $md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
