.logo-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  &__item {
    margin: 0 8px 15px;
    width: calc(100% / 6 - 16px);

    @media (max-width: $lg) {
      width: calc(100% / 5 - 16px);
    }

    @media (max-width: 850px) {
      width: calc(100% / 4 - 16px);
    }

    @media (max-width: $md) {
      width: calc(100% / 6 - 16px);
    }

    @media (max-width: 650px) {
      width: calc(100% / 5 - 16px);
    }

    @media (max-width: $sm) {
      width: calc(100% / 4 - 16px);
    }

    @media (max-width: 450px) {
      width: calc(100% / 3 - 16px);
    }

    @media (max-width: $xsm) {
      width: calc(100% / 2 - 16px);
    }

    &._item_8 {
      margin: 0 8px 15px;
      width: calc(100% / 8 - 16px);

      @media (max-width: $lg) {
        width: calc(100% / 7 - 16px);
      }

      @media (max-width: 850px) {
        width: calc(100% / 7 - 16px);
      }

      @media (max-width: $md) {
        width: calc(100% / 6 - 16px);
      }

      @media (max-width: 650px) {
        width: calc(100% / 5 - 16px);
      }

      @media (max-width: $sm) {
        width: calc(100% / 4 - 16px);
      }

      @media (max-width: 450px) {
        width: calc(100% / 3 - 16px);
      }

      @media (max-width: $xsm) {
        width: calc(100% / 2 - 16px);
      }
    }
  }


  &__link {
    display: block;
  }

  &__img {
    height: 100px;
    margin-bottom: 7px;

    img {
      flex-shrink: 0;
      max-height: 100%;
    }
  }

  &__name {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  &._pb_0 {
    padding-bottom: 0;
  }
}

//ie
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .logo-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    &__item {
      margin: 0 8px 15px;
      width: calc(100% / 6 - 17px);

      @media (max-width: $lg) {
        width: calc(100% / 5 - 17px);
      }

      @media (max-width: 850px) {
        width: calc(100% / 4 - 17px);
      }

      @media (max-width: $md) {
        width: calc(100% / 6 - 17px);
      }

      @media (max-width: 650px) {
        width: calc(100% / 5 - 17px);
      }

      @media (max-width: $sm) {
        width: calc(100% / 4 - 17px);
      }

      @media (max-width: 450px) {
        width: calc(100% / 3 - 17px);
      }

      @media (max-width: $xsm) {
        width: calc(100% / 2 - 17px);
      }

      &._item_8 {
        margin: 0 8px 15px;
        width: calc(100% / 8 - 17px);

        @media (max-width: $lg) {
          width: calc(100% / 7 - 17px);
        }

        @media (max-width: 850px) {
          width: calc(100% / 7 - 17px);
        }

        @media (max-width: $md) {
          width: calc(100% / 6 - 17px);
        }

        @media (max-width: 650px) {
          width: calc(100% / 5 - 17px);
        }

        @media (max-width: $sm) {
          width: calc(100% / 4 - 17px);
        }

        @media (max-width: 450px) {
          width: calc(100% / 3 - 17px);
        }

        @media (max-width: $xsm) {
          width: calc(100% / 2 - 17px);
        }
      }
    }
  }
}