.exam-data {
  border-bottom: 1px solid $c-hr-lite-grey;
  width: 100%;
  padding: 2px 9px 17px;
  margin-bottom: 15px;
  line-height: 1.4;

  p:not(:last-child) {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a:hover {
    text-decoration: underline;
  }

  &.__nn {
    border-bottom: none;
    padding-bottom: 7px;
  }
}
