.video-level-1 {
  font-size: 12px;

  @media (max-width: $sm) {
    margin: 0 -15px;
  }

  &__item {

  }

  &__header {
    border: 1px solid #cdd7e2;
    background-color: #e1ebf6;
    padding: 14px 50px 12px 31px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;

    @media (max-width: $lg) {
      padding-right: 15px;
    }

    &:after {
      content: "+";
      position: absolute;
      top: 11px;
      left: 15px;
      font-size: 16px;
      color: #1376d7;
      font-weight: 700;
    }

    &._open {
      &:after {
        content: "-";
        top: 9px;
      }
    }

    & > *:not(:last-child) {
      padding-right: 10px;
    }
  }

  &__title {
  }

  &__count {
    text-align: center;
    margin-left: auto;
    min-width: 65px;
    margin-right: 40px;

    @media (max-width: $lg) {
      margin-right: 0;
    }
  }

  &__duration {
    text-align: center;
    min-width: 50px;
  }

}

.video-level-2 {
  padding-left: 25px;
  display: none;

  @media (max-width: $sm) {
    padding-left: 10px;
  }

  &._active {
    display: block;
  }

  &__item {
  }

  &__header {
    margin-bottom: 5px;
    border: 1px solid #d9e3ee;
    padding: 14px 50px 12px 15px;
    display: flex;
    justify-content: space-between;
    background: rgba(225, 235, 246, 0.4) url("/design/images/lock.svg") 11px center no-repeat;
    background-size: 12px;

    @media (max-width: $lg) {
      padding-right: 15px;
    }

    & > *:not(:last-child) {
      padding-right: 10px;
    }

    &._open {
      cursor: pointer;
      background-image: url("/design/images/play.svg");
    }
  }

  &__title {
    padding-left: 13px;
    pointer-events: none;
  }

  &__duration {
    text-align: center;
    min-width: 50px;
    pointer-events: none;
  }
}

.video-level-3 {
  padding-left: 25px;
  //display: none;

  @media (max-width: $sm) {
    padding-left: 10px;
  }

  &__item {
    border: 1px solid #e2ecf7;
    padding: 14px 15px 12px 28px;
    margin-bottom: 5px;
    background: url("/design/images/download.svg") 11px center no-repeat;
    background-size: 12px 12px;
  }
}

.video-popup {
  position: relative;
  margin: 0 auto;
  max-width: 950px;

  .mfp-close {
    color: #fff !important;
  }
}

.plyr__control {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.plyr-prev,
.plyr-next {
  background: transparent url(/design/images/icon/prev.svg) no-repeat center center / 100%;
  border: none;
  width: 18px !important;
  height: 30px;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;

  @media (max-width: $ssm) {
    display: none;
  }
}

.plyr-prev:disabled,
.plyr-next:disabled {
  opacity: .2;
}

.plyr-prev:disabled:hover,
.plyr-next:disabled:hover {
  background-color: transparent;
}

.plyr-prev:hover,
.plyr-next:hover {
  background-color: #00b3ff;
}

.plyr-next {
  background: transparent url(/design/images/icon/next.svg) no-repeat center center / 100%;
  margin-right: 20px;
}

@media (max-width: 600px) {
  [data-plyr="pip"] {
    display: none !important;
  }
}

@media (max-width: $ssm) {
  [data-plyr="settings"] {
    display: none !important;
  }
}

.player-title {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  font-size: 20px;
  font-style: italic;
  text-align: center;

  @media (max-width: $sm) {
    font-size: 14px;
  }
}

