// ======================================================= top-it
.top-it__box-link {
  text-align: right;
}

// ======================================================= now-available
.now-available {

  &__box-img-text {
    display: flex;

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  &__img {
    max-width: 274px;
    width: 40%;
    flex-shrink: 0;
    margin-right: 7px;

    @media (max-width: $sm) {
      margin: 0 auto 5px;
      width: 100%;
    }
  }

  &__text {
    line-height: 16px;
  }

  &__box-btn {
    display: flex;
    justify-content: center;
    padding: 7px 0 10px;
  }

  &__btn {
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: $lg) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
