.study {

  &__list {
    font-size: 13px;
    list-style-type: decimal;
    padding-left: 35px;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {

  }


}

.pagination {
  padding-top: 10px;
}
