@import "base/fonts";
@import "base/vars";
@import "base/utils";
@import "base/global";
@import "base/wrappers";
@import "base/titles";
@import "base/reUseClasses";


// small-blocks
@import "modules/buttons/btn";
@import "modules/smallBlocks/searchSecondary";
@import "modules/smallBlocks/breadCrumbs";
@import "modules/smallBlocks/tab";
@import "modules/smallBlocks/examData";
@import "modules/smallBlocks/boxGuarantCart";

// modules
@import "modules/slider/slider";
@import "modules/slider/sliderV2";
@import "modules/logo-list/logo-list";
@import "modules/list/list";
@import "modules/list/list-ol";
@import "modules/form/form";


@import "modules/header/header";


// page
@import "modules/aside/aside";

@import "pages/home";
@import "pages/vendor";
@import "pages/exam1";
@import "pages/exam2";
@import "pages/certifications";
@import "pages/allproducts";
@import "pages/megaPacks";
@import "pages/cart";
@import "pages/checkout";
@import "pages/request-exam";
@import "pages/corporate";
@import "pages/faq";
@import "pages/study";
@import "pages/signup";
@import "pages/serviceManagement";
@import "pages/serverCertification";

// member_area
@import "modules/acc-nav/acc-nav";

@import "pages/ma-unlimited";
@import "pages/ma-invoice";
@import "pages/ma-profile";
@import "pages/ma-home";
@import "pages/invoice";


.errmess {
  padding-bottom: 10px;
  color: #ff9966;
  display: block;
}


@import "modules/footer/footer";

@import "base/sizeScreenShowHide";

/* button нельзя использовать как флекс контейнер на ios, не работает */
/* fieldset нельзя использовать как флекс контейнер, не работает */
