.btn {
  padding: 11px 25px 11px 25px;
  border: 1px solid white;
  border-bottom-color: #a85f02;
  color: #fff;
  font-family: $ff-title;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  border: solid 1px #f4930b;
  border-bottom-color: #a85f02;
  border-radius: 5px;
  background-color: #febe1d;
  background: linear-gradient(to bottom, #fec11e 0%, #ee8300 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 1px 1px #ffe7a5;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  transition: .2s;

  &:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0), inset 0px 1px 1px #fec11e;
  }
}

.btn-grey {
  padding: 5px 15px 5px;
  color: #535353;
  font-family: $ff-title;
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgb(221, 221, 221), rgb(187, 187, 187));
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  transition: .2s;

  &:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
  }
}

.btn-blue {
  padding: 6px 21px;
  color: #fff;
  font-family: $ff-title;
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgb(97,167,220), rgb(42,112,165));
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  transition: .2s;

  &:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
  }
}
